# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example
# Environment variables
.env
env
.env.local
.env.production


#Server
# Ignore Python virtual environment
Flask-server/venv/

# Ignore environment variables file
Flask-server/.env

# Ignore Python cache
Flask-server/__pycache__/
**/__pycache__/
*.py[cod]

# Ignore uploaded files (if dynamically generated)
Flask-server/uploads/

# Ignore log files (optional)
Flask-server/*.log

# Ignore SQLite or other local DBs (optional)
Flask-server/*.sqlite3
Flask-server/*.db

# Optional: pipenv or poetry lock files
Flask-server/Pipfile.lock
Flask-server/poetry.lock
